@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  @apply bg-gray-200 text-gray-900;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

#root {
  min-height: 100vh;
  width: 100%;
  @apply bg-gray-200;
}
